/* Your Website Styles */




body {
	
	
font-family: "proxima-nova";
line-height: 1.8em;
text-transform: uppercase;
letter-spacing: 2px;
font-weight: 400;
font-style: normal;
	

}



/* Typography */

h1 {font-size: 3em;
	font-family: "Proxima-Nova";
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #FA665A;
	margin-top: 0px;
	margin-bottom: 4px;
	}



h3 {font-family: "Proxima-Nova", sans-serif;
	font-size: 1em;
	font-style: light;
	color: black;
	letter-spacing:2px;
	margin-top: 0px;
	opacity:.8;
}






a {
	text-decoration: none;
	
	text-align: center;
	font-size: 1em;
	font-family: "Proxima-Nova";
	font-style: light;
	letter-spacing:1px;
	color: black; 
	opacity:.8;
	padding: 3px;
	margin: 2px;
}



a:hover {
    text-decoration: none;
    
	text-align: center;
    font-size: 1em;
	font-family: "Proxima-Nova";
	font-style:light;
	letter-spacing:1px;
	color: #8CBEB2;
	opacity:.8;
	padding: 3px;
	margin: 2px;
}



	




/* Title Section */



.title { padding: 100px; margin: auto; text-align:center;}


.logo{
	width:200px;
	height:200px;
	margin-bottom: 0px;
}







